---
import ExternalLink from "./ExternalLink.astro";
---

<footer id="about" class="site-footer">
  <div class="container footer-inner">
    <p>
      EVE Index is an independent fan project. EVE Online and related marks are
      owned by CCP.
    </p>
    <p>
      Project home:
      <ExternalLink href="https://stin.win" label="stin.win" />
    </p>
  </div>
</footer>
